---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import mig from "../assets/images/mig.webp";
---

<MainLayout>
  <section class="flex flex-col items-center justify-center h-screen text-center relative">
    <div class="flex flex-col items-center space-y-3">
<p>blablabla</p>
    </div>
  </section>
</MainLayout>
