---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import mig from "../assets/images/mig.webp";
---

<MainLayout>
  <section class="flex flex-col items-center justify-center h-screen text-center relative px-6">
    <div class="w-full max-w-xl text-lgtext-gray-80 p-6">
      <p class="font-bold">Selma Stilling Østergaard</p>
      <p>
        Passionate about visual storytelling and crafting designs that make an impact.
        I thrive on creating strong visual identities and engaging graphics that bring ideas to life.
      </p>
      <p class="mt-4">
        With a keen eye for aesthetics and a problem-solving mindset, I’m dedicated to designing meaningful and functional experiences—whether it’s branding, digital design, or creative concepts.
      </p>
      <p class="mt-4">
        Looking for a place to grow, contribute, and turn ideas into visuals that resonate. Let’s create something great together.
      </p>
    </div>
  </section>
</MainLayout>

